<%- include('partials/header') %>

<div class="w-full flex justify-center">
    <div class="w-full md:w-2/3 lg:w-1/2">
      <h2 class="text-center text-2xl font-bold text-gray-900 mb-2">About</h2>
      <p class="text-gray-600 mb-6">
         This Text-to-Speech (TTS) web tool was developed as part of my learning journey to deepen my understanding of full-stack development, browser capabilities, and machine learning integration.
        <br><br>
        This is a full-stack project built using Node.js, Express.js, EJS templating, and Tailwind CSS. It uses a Free Web Browser API to convert written text into spoken words instantly—all within the browser, with no external software or downloads required. By combining neural network inference models with modern browser technologies, I aimed to create a fast, accessible, and efficient TTS solution that anyone can use.
        <br><br>
        This project is more than just a tool—it's a demonstration of the skills I’ve gained in backend and frontend development, API integration, UI/UX design, and real-time web processing. It reflects my commitment to learning, my curiosity about emerging technologies, and my drive to turn ideas into real, useful software.
        <br><br>
         Thank you for visiting, and feel free to reach out if you'd like to connect!
      </p>
    </div>
  </div>
  

<%- include('partials/footer') %>